@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500;600;700&display=swap");

body {
  color: #373737;
  font-family: Inter;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1704px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.header {
  background-color: #373737;
  color: #ebebeb;
  align-items: center;
  margin-bottom: 32px;
  padding: 16px 108px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
}

.header__list-item {
  display: flex;
  align-items: center;
  padding-right: 48px;
}

.header__list-item:last-child {
  padding-right: 0;
}

.header__logo {
  padding-right: 24px;
}

.header__logo-discription {
  color: #bababa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  display: block;
  align-content: center;
}

.header__link {
  color: #ededed;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.search {
  display: flex;
  align-items: center;
}

.search__icon-input {
  position: absolute;
  z-index: 1;
  padding: 12px 8px;
}

.search__input {
  color: #aeaeae;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  border: none;
  border-radius: 4px;
  background: #545454;
  position: relative;
  padding: 14px 204px 14px 40px;
  width: 408px;
  outline: transparent;
}

.search__input:hover .search__icon-input {
  color: #373737;
  transition: all 0.4s;
}

.search__icon:focus-within .search__icon-input {
  color: #373737;
  transition: all 0.4s;
}

.search__input:hover {
  color: #373737;
  background-color: #ededed;
  transition: all 0.4s;
}

.search__input:focus {
  color: #373737;
  background-color: #ededed;
}

.main {
  overflow: hidden;
}

.section {
  margin-bottom: 64px;
}

.section__navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.section__navigation-link {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: #ededed;
  color: #373737;
  transition: 0.4s;
  border-radius: 4px;
}

.section__navigation-link:hover {
  background-color: #373737;
  color: #ededed;
}

.section__navigation-link:focus {
  background-color: #373737;
  color: #ededed;
}

.section__navigation-link--gold:hover {
  background-color: #ab9f6f;
}

.section__navigation-link--gold:focus {
  background-color: #ab9f6f;
}

.section__navigation-icon {
  background-color: #373737;
  padding: 7px;
  border-radius: 4px 0 0 4px;
}

.section__navigation-icon--all {
  background-color: #ab9f6f;
}

.section__navigation-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 16px;
}

.preview {
  display: flex;
  overflow: hidden;
  margin-bottom: 64px;
  gap: 24px;
}

.preview__block {
  min-width: 1128px;
  height: 388px;
  overflow: hidden;
  position: relative;
}

.preview__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  width: 518px;
  padding-left: 34px;
}

.preview__image-container {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.62) 33.21%,
    rgba(0, 0, 0, 0) 69.88%
  );
  position: absolute;
}

.preview__image {
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.preview__tag,
.showcase__tag {
  color: #ededed;
  background-color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.preview__title {
  color: #ededed;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 37.8px */
  text-transform: uppercase;
  z-index: 1;
  margin-bottom: 12px;
}

.preview__paragraph {
  color: #ededed;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  z-index: 1;
}

.title {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 50px */
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-bottom: 48px;
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px 24px;
  margin-bottom: 124px;
}

.showcase__card {
  position: relative;
  width: 552px;
}

.showcase__image {
  margin-bottom: 24px;
}

.showcase__title {
  color: #373737;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 37.8px */
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.showcase__paragraph {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin: 0;
}

.mail {
  border: solid 3px #373737;
  width: 984px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.mail__form {
  width: 437px;
}

.mail__form-content {
  display: flex;
  padding: 60px 108px;
  position: relative;
}

.mail__form-images {
  position: absolute;
  top: -40px;
  left: 90px;
}

.mail__form-svg1 {
  position: relative;
  left: 85px;
}

.mail__form-svg2 {
  position: absolute;
  left: 0px;
  top: 10px;
}

.mail__form-svg3 {
  position: absolute;
  left: 15px;
  top: -5px;
}

.mail__form-svg4 {
  position: absolute;
  left: 65px;
  top: -5px;
}

.mail__form-svg5 {
  position: absolute;
}

.mail__form-title {
  color: #373737;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 37.8px */
  text-transform: uppercase;
  width: 269px;
  margin: 0;
  margin-right: 64px;
}

.mail__form-paragraph {
  margin: 0;
}

.mail__input-paragraph {
  margin: 0;
}

.mail__form-paragraph {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-bottom: 30px;
}

.mail__input {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  border-radius: 4px;
  background-color: #ededed;
  border: none;
  padding: 10px 16px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.mail__input-button {
	background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  padding: 10px 16px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  border: 1px solid #373737;
  border-radius: 4px;
}

.mail__input-button::placeholder{color: #373737;}

.mail__input-button:hover {
  cursor: pointer;
	background-color: #ededed;
	transition: 0.4s;
}

.mail__input-button:focus {
  cursor: pointer;
	background-color: #ededed;
	transition: 0.4s;
}

.mail__input-button-svg {
  padding-left: 12px;
}

.mail__input-paragraph {
  color: #373737;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
}

.mail__input-paragraph-link {
  text-decoration-line: underline;
  color: #373737;
}

.title--margin {
  margin-bottom: 64px;
}

.showcase--little {
  margin-bottom: 64px;
}

.show__more {
  margin-bottom: 64px;
  border: dashed 1px #373737;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

.show__more-link {
  color: #373737;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 25px */
}

.footer {
  background-color: #ededed;
  color: #ebebeb;
  align-items: center;
  padding: 48px 108px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
}

.footer__logo-link {
  width: 150px;
  height: 43px;
  display: flex;
  margin-right: 16px;
}

.footer__logo-image {
  width: 150px;
  height: 43px;
}

.footer__logo-description {
  color: #373737;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  margin: 0;
  width: 291px;
}

.magazine__link {
  color: #373737;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  text-decoration-line: underline;
}

.politic__description {
  color: #373737;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  margin: 0;
  margin-bottom: 8px;
}

.question__content {
  margin-bottom: 64px;
}

.question__content-container {
  display: flex;
	width: max-content;
  border: 3px solid #373737;
  padding: 48px 88px;
  margin: 0 auto;
}

.question__content-image {
  margin-right: 48px;
}

.question__form-container {
  width: 552px;
}

.question__form-title {
  color: #373737;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 37.8px */
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.question-form {
	width: 552px;
}

.question-form-input-name, 
.question-form-input-email, 
.question-form-input-q {
  color: #c5c5c5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
	padding: 10px 16px;
	border-radius: 4px;
	background-color: #F5F5F5;
	border: none;
}
.question-form-input-name::placeholder, 
.question-form-input-email::placeholder, 
.question-form-input-q::placeholder {color: #c5c5c5;}

.question-form-input-name {
	margin-right: 19px;
	margin-bottom: 24px;
	width: 232px;

}

.question-form-input-email {
width: 232px;
}

.question-form-input-q {
margin-bottom: 24px;
width: 520px;
padding-bottom: 30px;
}

.question-form-button {
	margin-right: 24px;
}

.question-form-paragraph {
	width: 359px;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.social__network {
	margin-bottom: 100px;
	text-align: center;
}

.social__network-title {
	color: #373737;
	font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 135%; /* 37.8px */
text-transform: uppercase;
margin-bottom: 35px;
}

.social__network-list {
	display: flex;
	gap: 24px;
	justify-content: center;
}

.social__network-link {
	padding: 24px;
	border: 1px solid #EDEDED;
}

.social__network-link:hover {
	border: 1px solid #373737;
	transition: 0.4s;
}